*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

figure {
  margin: 0; }

button {
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  outline: none; }

html {
  font-size: 62.5%; }

body {
  color: #000000;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  line-height: 1; }

h1, h2, h3,
h4, h5,
h6,
p {
  margin: 0; }

a {
  color: #000000;
  outline: none;
  text-decoration: none; }
