html
  // This defines what 1rem is
  font-size: 62.5%  // 1rem = 10px; 100%/16 = 62.5%

body
  color: $text_base
  font-family: $font_stack
  font-weight: $font_normal
  line-height: 1

h1, h2, h3,
h4, h5,
h6,
p
  margin: 0

a
  color: $text_base
  outline: none
  text-decoration: none